.text-field{
    -fx-pref-width: 30px;
}
.label{
    -fx-padding: 4px;
}
.button{
    -fx-background-color: #778030;
    -fx-text-fill: aliceblue;
}
.combo-box{
    -fx-background-color: lightseagreen;
}